@import url('https://fonts.googleapis.com/css2?family=poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Protest+Revolution&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Poppins',sans-serif;
}
/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Dropdown styles */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position dropdown below the link */
    left: 0;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* Adjustments for mobile responsiveness */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Switch to a column layout */
    }
	.home{
		flex-direction: row;
	}
    .dropdown-content {
        position: static;
        display: none;
        background-color: transparent;
        box-shadow: none;
        width: 100%; /* Take full width of the screen */
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .navbar a {
        text-align: center; /* Center align the links */
    }

    .navbar a,
    .dropdown-content a {
        display: block; /* Ensure links are displayed as blocks */
    }
}

:root{
    --primary-color: #f14f4f;
    --secondary-color: #ffffff;
    /* Colors */
	--Grayish_blue: hsl(237, 18%, 59%);
	--Soft_red: hsl(345, 95%, 68%);
	--White: hsl(0, 0%, 100%);
	--Dark_desaturated_blue: hsl(236, 21%, 26%);
	--Very_dark_blue: hsl(235, 16%, 14%);
	--Very_dark_blac_blue: hsl(234, 17%, 12%);

	/* font size */
	--h-text: 1.1rem;
	--p-text: 1.8rem;
	--s-text: 0.5rem;

	/* custom-shape */
	--circle-width: 0.25em;
	--circle-height: 0.45em;
}

html{
    font-size: 62%;
    overflow-x: hidden ;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
	background-color: rgb(17, 17, 17);
    cursor: url("images/cursor.png"),auto;
}
.home {
	margin-top:3%;
    position: relative;
    min-height: 80vh;
    overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
}
.new{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
}
.new .image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200rem;
}
.new .content h2 {
	width: 200%;
    font-size: 2.5rem;
    padding-top: 5;
    color: white;
    line-height: 5.3rem;
    font-family:monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.text1{
	width: 100%;
	height: fit-content;
    font-size: 1.9rem;
    padding-top: 5;
    color: white;
    line-height: 3.3rem;
    font-family:monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.events{
	min-height: 60vh;
	margin-top: -15rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
	/* Adjust padding and margin for smaller screens */
	padding: 20px;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity:90%;
}
.content {
            padding: 0 9%;
            z-index: 1;
            color: #fff;
            position: relative;
            text-align: left;
}
header{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 1000;
    height:fit-content;
    background-color: rgba(8, 6, 6, 0.9);
}
header .bitlogo{
    position: relative;
    width: 30rem;
}
header .bitlogo1{
    position: relative;
    width: 6rem;
    height: 6rem;
}
header .navbar a{
    display:inline-block;
    justify-content:center;
    font-size: 1.7rem;
    margin-left: 3rem;
    color: var(--secondary-color);
    font-weight: 600;
}
header .navbar a.reg {
    background: linear-gradient(90deg, rgb(217, 204, 65) 0%, rgb(186, 163, 51) 35%, rgba(140,165,115,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
	
}
header .navbar a:hover{
    color:  red;
}
header .bg-nav{
    display: none;
}
.content{
	width: 100%;
	height: auto;
}
#aboutUs {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

#aboutUs img {
    width: 500px;
    margin: 20px;
    border-radius: 10px;
}

.content {
    margin: 20px 0;
}

.content h2 {
    font-size: 50px;
    color: #ffca70;
}
.hi{
	font-size: 30px;
    color: #ffca70;
	text-align: center;

}
.content h4 {
    font-size: 20px;
    color: #fff;
    margin: 10px 0;
}

.description {
    color: #fff;
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
}
@media screen and (max-width: 790px) {
    #aboutUs img {
        width: 80%;
    }
	.hi{
		font-size: 25px;
		color: #ffca70;
		text-align: center;
	
	}
    #aboutUs {
        grid-template-columns: 1fr;
        place-items: center;
    }
}
.home .content h3 {
	
	width: 200%;
	margin-left: 5rem;
    font-size: 15rem; 
	background-image: linear-gradient(90deg, rgb(217, 204, 65) 0%, rgb(186, 163, 51) 35%, rgba(140,165,115,1) 100%); /* Adjust colors as desired */
    -webkit-background-clip: text; /* For webkit-based browsers */
    background-clip: text;
    color: transparent;
    font-family: 'Protest Guerrilla', sans-serif;/*Revolution*/
	
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
.home .content h2 {
	width: auto;
    font-size: 2.5rem;
    padding-top: 5;
    color: white;
    line-height: 5.3rem;
    font-family:monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  
}
.home .content p {
    font-size: 1.6rem;
    color: white;
    padding: 1rem 0;
    align-items: center;
}
.home .image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200rem;
}
.home .image .lion{
    position: absolute;
    width: 50%;

}
.garuda{
    margin-top: 15rem;
    position: absolute;
    width: 70%;
}
.toggle-btn{
    position: relative;
    font-size: 3rem;
    color: var(--secondary-color);
    cursor: pointer;
    display: none;
}


@media(max-width:992px){
    html{
        font-size: 60%;
    }
    section{
        padding: 0 5%;
    }
    header{
        padding:2rem 5%;
    }
    .home .content h3{
        font-size: 5.3rem;
        line-height: 2.5rem;
    }
    .new .content h2{
        font-size: 3.3rem;
        line-height: 2.5rem;
    }
	
}

@media(max-width:768px){
    html{
        font-size: 59%;
    }
    .toggle-btn{
        display: block;
    }
    header .navbar{
        position: absolute;
        left: 0;
        top: -300px;
        width: 100%;
        background:rgba(26, 26, 36, 0.884);
        padding: 1rem 5%;
        
        overflow: hidden;
        transform: .8s;
        z-index: -2;
    }
    header .navbar.slide{
        top: 100%;
    }
    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 1.8rem;
    }
    header .bitlogo1{
        position: absolute;
        right: 12%;   
    }
    header .bg-nav{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;height:fit-content;
        background-color: rgba(26, 26, 36, 0.671);
        z-index: -1;
        transition: 1s;
    }
    section{
        height:fit-content;
    }
    .home{
        flex-direction: row;
    }
	.new{
		flex-direction: row;
	}
    .garuda{
        margin-top: 8rem;
    }
    .home .image{
        width: 50rem;
        height: 20rem;
        margin-top: -5rem;
    }
	.new .image{
        width: 40rem;
        height: 10rem;
        margin-top: -5rem;
    }
}

@media(max-width:660px){
    html{
        font-size: 55%;
    }
    header .navbar.slide{
        top: 78px;
    }
	.home{
		flex-wrap:wrap;
	}
	.home .content h3{
        font-size: 6.3rem;
        line-height:100%;
		margin:auto;
    }
	.home .content h2{
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .new .content h2{
        font-size: 3.3rem;
        line-height: 2.5rem;
    }
}
@media(max-width:434px){
    .home .image{
        width: 40rem;
    }
	.new{
		padding: 1%;
		flex-direction: column;
		
	}
	.new .content{
		margin-top:  30rem;
		
		
	}
	.new .content .text1{
		height:fit-content;
		font-size: 2rem;
		
		
	}
}
@media(max-width:330px){
    html{
        font-size: 50%;
    }
    head .bitlogo1{
        right: 15%;
    }
    .home .image{
        width: 40rem;
        height:25rem;
    }
	.new .image{
        width: 40rem;
        height:25rem;
    }
}
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2d2e33;
    padding: 60px 10%;
}

.list{
    list-style: none;
}

.footer-col{
    width: 25%;
}

.footer-col h4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;
}

ul li:not(:last-child){
    margin-bottom: 8px;
}

ul li a{
    display: block;
    font-size: 19px;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}

ul li a:hover{
    color: white;
    padding-left: 2px;
}

.links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.links a:hover{
    color: #4d4f55;
    background-color: white;
}

@media(max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before{
        all: unset;
    }
}

@media(max-width: 555px){
    .footer-col{
        width: 100%;
    }
}

@import url('https://fonts.googleapis.com/css?family=Lato');

/* default */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*timer css*/
/* Font Styles */
.heading-a {
	font-size:5rem;
	color: var(--White);
	letter-spacing: 0.5ch;
	text-align: center;
	margin-bottom: 3rem;
}
.primary {
	font-size: var(--p-text);
	color: var(--Soft_red);
	text-align: center;
}
.sub-heading {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.5rem;
	color: var(--secondary-color);
	text-align: center;
	letter-spacing: 0.5ch;
	margin-top: 1em;
}
.container {
	margin: 1em;
}
.center {
	align-self: center;
}
.countdown-timer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2em;
}

.timer-box {
	width: 4rem;
	padding: 0.5rem;
	text-align: center;
	background-color: var(--Dark_desaturated_blue);
	position: relative;
	border-radius: 0.25em;
}

.sheet {
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	top: 0;
	right: 0;
	background-color: var(--Very_dark_blue);
	opacity: 0.35;
}

.flip {
	transition: transform 1s;
	transform: translate(0%, 100%) scaleY(-1);
}

.circle-left {
	width: var(--circle-width);
	height: var(--circle-height);
	position: absolute;
	background-color: var(--Very_dark_blac_blue);
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;
	top: 45%;
	left: 0;
}

.circle-right {
	width: var(--circle-width);
	height: var(--circle-height);
	position: absolute;
	background-color: var(--Very_dark_blac_blue);
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
	top: 45%;
	right: 0;
}

/* Media Queries for Responsive Design */
@media (min-width: 430px) {
	:root {
		--h-text: 1.25rem;
		--p-text: 2rem;
		--s-text: 0.5rem;

		--circle-width: 0.35em;
		--circle-height: 0.65em;
	}

	.timer-box {
		width: 5rem;
		padding: 0.75rem;
	}
}

@media (min-width: 550px) {
	:root {
		--p-text: 3rem;
		--s-text: 0.75rem;

		--circle-width: 0.4em;
		--circle-height: 0.7em;
	}

	.timer-box {
		width: 6rem;
		padding: 0.75rem;
	}
}

@media (min-width: 800px) {
	:root {
		--p-text: 4rem;
	}

	.timer-box {
		width: 8rem;
		padding: 1rem;
	}
}




/* for button register*/
  

.animated-button {
	background: linear-gradient(-30deg, #0b1b3d 50%, #08142b 50%);
	padding: 20px 40px;
	margin: 12px;
	display: inline-block;
	-webkit-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
	overflow: hidden;
	color: #d4e0f7;
	font-size: 20px;
	letter-spacing: 2.5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
			box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #8592ad;
	opacity: 0;
	-webkit-transition: .2s opacity ease-in-out;
	transition: .2s opacity ease-in-out;
  }
  
  .animated-button:hover::before {
	opacity: 0.2;
  }
  
  .animated-button span {
	position: absolute;
  }
  
  .animated-button span:nth-child(1) {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(8, 20, 43, 0)), to(#2662d9));
	background: linear-gradient(to left, rgba(8, 20, 43, 0), #2662d9);
	-webkit-animation: 2s animateTop linear infinite;
			animation: 2s animateTop linear infinite;
  }
  
  @-webkit-keyframes animateTop {
	0% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
  }
  
  @keyframes animateTop {
	0% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
  }
  
  .animated-button span:nth-child(2) {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 20, 43, 0)), to(#2662d9));
	background: linear-gradient(to top, rgba(8, 20, 43, 0), #2662d9);
	-webkit-animation: 2s animateRight linear -1s infinite;
			animation: 2s animateRight linear -1s infinite;
  }
  
  @-webkit-keyframes animateRight {
	0% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
	100% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
  }
  
  @keyframes animateRight {
	0% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
	100% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
  }
  
  .animated-button span:nth-child(3) {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(8, 20, 43, 0)), to(#2662d9));
	background: linear-gradient(to right, rgba(8, 20, 43, 0), #2662d9);
	-webkit-animation: 2s animateBottom linear infinite;
			animation: 2s animateBottom linear infinite;
  }
  
  @-webkit-keyframes animateBottom {
	0% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
	100% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
  }
  
  @keyframes animateBottom {
	0% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
	100% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
  }
  
  .animated-button span:nth-child(4) {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 20, 43, 0)), to(#2662d9));
	background: linear-gradient(to bottom, rgba(8, 20, 43, 0), #2662d9);
	-webkit-animation: 2s animateLeft linear -1s infinite;
			animation: 2s animateLeft linear -1s infinite;
  }
  
  @-webkit-keyframes animateLeft {
	0% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
	100% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
  }
  
  @keyframes animateLeft {
	0% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
	100% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
  }
  
  .animated-button1 {
	background: linear-gradient(-30deg, #112756 50%, #264bc6b4 50%);
	padding: 20px 40px;
	margin-top: 2rem;
	margin-left: 16rem;
	display: inline-block;
	-webkit-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
	overflow: hidden;
	color: #f7d4d4;
	font-size: 15px;
	font-family: 600;
	letter-spacing: 2.5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
			box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
			border-radius: 5px;
  }
  
  .animated-button1::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #ad8585;
	opacity: 0;
	-webkit-transition: .2s opacity ease-in-out;
	transition: .2s opacity ease-in-out;
  }
  
  .animated-button1:hover::before {
	opacity: 0.2;
  }
  
  .animated-button1 span {
	position: absolute;
  }
  
  .animated-button1 span:nth-child(1) {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
	background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
	-webkit-animation: 2s animateTop linear infinite;
			animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
	0% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
  }
  
  .animated-button1 span:nth-child(2) {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
	background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
	-webkit-animation: 2s animateRight linear -1s infinite;
			animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
	0% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
	100% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
  }
  
  .animated-button1 span:nth-child(3) {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
	background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
	-webkit-animation: 2s animateBottom linear infinite;
			animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
	0% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
	100% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
  }
  
  .animated-button1 span:nth-child(4) {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
	background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
	-webkit-animation: 2s animateLeft linear -1s infinite;
			animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
	0% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
	100% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
  }
  
  .animated-button2 {
	background: linear-gradient(-30deg, #3d240b 50%, #2b1a08 50%);
	padding: 20px 40px;
	margin: 12px;
	display: inline-block;
	-webkit-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
	overflow: hidden;
	color: #f7e6d4;
	font-size: 20px;
	letter-spacing: 2.5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
			box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button2::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #ad9985;
	opacity: 0;
	-webkit-transition: .2s opacity ease-in-out;
	transition: .2s opacity ease-in-out;
  }
  
  .animated-button2:hover::before {
	opacity: 0.2;
  }
  
  .animated-button2 span {
	position: absolute;
  }
  
  .animated-button2 span:nth-child(1) {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(43, 26, 8, 0)), to(#d98026));
	background: linear-gradient(to left, rgba(43, 26, 8, 0), #d98026);
	-webkit-animation: 2s animateTop linear infinite;
			animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
	0% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
  }
  
  .animated-button2 span:nth-child(2) {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 26, 8, 0)), to(#d98026));
	background: linear-gradient(to top, rgba(43, 26, 8, 0), #d98026);
	-webkit-animation: 2s animateRight linear -1s infinite;
			animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
	0% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
	100% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
  }
  
  .animated-button2 span:nth-child(3) {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(43, 26, 8, 0)), to(#d98026));
	background: linear-gradient(to right, rgba(43, 26, 8, 0), #d98026);
	-webkit-animation: 2s animateBottom linear infinite;
			animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
	0% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
	100% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
  }
  
  .animated-button2 span:nth-child(4) {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 26, 8, 0)), to(#d98026));
	background: linear-gradient(to bottom, rgba(43, 26, 8, 0), #d98026);
	-webkit-animation: 2s animateLeft linear -1s infinite;
			animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
	0% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
	100% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
  }
  
  .animated-button3 {
	background: linear-gradient(-30deg, #3d3d0b 50%, #2b2b08 50%);
	padding: 20px 40px;
	margin: 12px;
	display: inline-block;
	-webkit-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
	overflow: hidden;
	color: #f7f7d4;
	font-size: 20px;
	letter-spacing: 2.5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
			box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button3::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #adad85;
	opacity: 0;
	-webkit-transition: .2s opacity ease-in-out;
	transition: .2s opacity ease-in-out;
  }
  
  .animated-button3:hover::before {
	opacity: 0.2;
  }
  
  .animated-button3 span {
	position: absolute;
  }
  
  .animated-button3 span:nth-child(1) {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(43, 43, 8, 0)), to(#d9d926));
	background: linear-gradient(to left, rgba(43, 43, 8, 0), #d9d926);
	-webkit-animation: 2s animateTop linear infinite;
			animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
	0% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
  }
  
  .animated-button3 span:nth-child(2) {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 43, 8, 0)), to(#d9d926));
	background: linear-gradient(to top, rgba(43, 43, 8, 0), #d9d926);
	-webkit-animation: 2s animateRight linear -1s infinite;
			animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
	0% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
	100% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
  }
  
  .animated-button3 span:nth-child(3) {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(43, 43, 8, 0)), to(#d9d926));
	background: linear-gradient(to right, rgba(43, 43, 8, 0), #d9d926);
	-webkit-animation: 2s animateBottom linear infinite;
			animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
	0% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
	100% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
  }
  
  .animated-button3 span:nth-child(4) {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 43, 8, 0)), to(#d9d926));
	background: linear-gradient(to bottom, rgba(43, 43, 8, 0), #d9d926);
	-webkit-animation: 2s animateLeft linear -1s infinite;
			animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
	0% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
	100% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
  }
  
  .animated-button4 {
	background: linear-gradient(-30deg, #243d0b 50%, #1a2b08 50%);
	padding: 20px 40px;
	margin: 12px;
	display: inline-block;
	-webkit-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
	overflow: hidden;
	color: #e6f7d4;
	font-size: 20px;
	letter-spacing: 2.5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
			box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button4::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #99ad85;
	opacity: 0;
	-webkit-transition: .2s opacity ease-in-out;
	transition: .2s opacity ease-in-out;
  }
  
  .animated-button4:hover::before {
	opacity: 0.2;
  }
  
  .animated-button4 span {
	position: absolute;
  }
  
  .animated-button4 span:nth-child(1) {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(26, 43, 8, 0)), to(#80d926));
	background: linear-gradient(to left, rgba(26, 43, 8, 0), #80d926);
	-webkit-animation: 2s animateTop linear infinite;
			animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
	0% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
  }
  
  .animated-button4 span:nth-child(2) {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(26, 43, 8, 0)), to(#80d926));
	background: linear-gradient(to top, rgba(26, 43, 8, 0), #80d926);
	-webkit-animation: 2s animateRight linear -1s infinite;
			animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
	0% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
	100% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
  }
  
  .animated-button4 span:nth-child(3) {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(26, 43, 8, 0)), to(#80d926));
	background: linear-gradient(to right, rgba(26, 43, 8, 0), #80d926);
	-webkit-animation: 2s animateBottom linear infinite;
			animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
	0% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
	100% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
  }
  
  .animated-button4 span:nth-child(4) {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 43, 8, 0)), to(#80d926));
	background: linear-gradient(to bottom, rgba(26, 43, 8, 0), #80d926);
	-webkit-animation: 2s animateLeft linear -1s infinite;
			animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
	0% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
	100% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
  }
  
  .animated-button5 {
	background: linear-gradient(-30deg, #0b3d0b 50%, #082b08 50%);
	padding: 20px 40px;
	margin: 12px;
	display: inline-block;
	-webkit-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
	overflow: hidden;
	color: #d4f7d4;
	font-size: 20px;
	letter-spacing: 2.5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
			box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button5::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #85ad85;
	opacity: 0;
	-webkit-transition: .2s opacity ease-in-out;
	transition: .2s opacity ease-in-out;
  }
  
  .animated-button5:hover::before {
	opacity: 0.2;
  }
  
  .animated-button5 span {
	position: absolute;
  }
  
  .animated-button5 span:nth-child(1) {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(8, 43, 8, 0)), to(#26d926));
	background: linear-gradient(to left, rgba(8, 43, 8, 0), #26d926);
	-webkit-animation: 2s animateTop linear infinite;
			animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
	0% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
  }
  
  .animated-button5 span:nth-child(2) {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 43, 8, 0)), to(#26d926));
	background: linear-gradient(to top, rgba(8, 43, 8, 0), #26d926);
	-webkit-animation: 2s animateRight linear -1s infinite;
			animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
	0% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
	100% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
  }
  
  .animated-button5 span:nth-child(3) {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(8, 43, 8, 0)), to(#26d926));
	background: linear-gradient(to right, rgba(8, 43, 8, 0), #26d926);
	-webkit-animation: 2s animateBottom linear infinite;
			animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
	0% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
	100% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
  }
  
  .animated-button5 span:nth-child(4) {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 43, 8, 0)), to(#26d926));
	background: linear-gradient(to bottom, rgba(8, 43, 8, 0), #26d926);
	-webkit-animation: 2s animateLeft linear -1s infinite;
			animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
	0% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
	100% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
  }
  
  .animated-button6 {
	background: linear-gradient(-30deg, #0b3d24 50%, #082b1a 50%);
	padding: 20px 40px;
	margin: 12px;
	display: inline-block;
	-webkit-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
	overflow: hidden;
	color: #d4f7e6;
	font-size: 20px;
	letter-spacing: 2.5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
			box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button6::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #85ad99;
	opacity: 0;
	-webkit-transition: .2s opacity ease-in-out;
	transition: .2s opacity ease-in-out;
  }
  
  .animated-button6:hover::before {
	opacity: 0.2;
  }
  
  .animated-button6 span {
	position: absolute;
  }
  
  .animated-button6 span:nth-child(1) {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(8, 43, 26, 0)), to(#26d980));
	background: linear-gradient(to left, rgba(8, 43, 26, 0), #26d980);
	-webkit-animation: 2s animateTop linear infinite;
			animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
	0% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
  }
  
  .animated-button6 span:nth-child(2) {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 43, 26, 0)), to(#26d980));
	background: linear-gradient(to top, rgba(8, 43, 26, 0), #26d980);
	-webkit-animation: 2s animateRight linear -1s infinite;
			animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
	0% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
	100% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
  }
  
  .animated-button6 span:nth-child(3) {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(8, 43, 26, 0)), to(#26d980));
	background: linear-gradient(to right, rgba(8, 43, 26, 0), #26d980);
	-webkit-animation: 2s animateBottom linear infinite;
			animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
	0% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
	100% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
  }
  
  .animated-button6 span:nth-child(4) {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 43, 26, 0)), to(#26d980));
	background: linear-gradient(to bottom, rgba(8, 43, 26, 0), #26d980);
	-webkit-animation: 2s animateLeft linear -1s infinite;
			animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
	0% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
	100% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
  }
  
  .animated-button7 {
	background: linear-gradient(-30deg, #0b3d3d 50%, #082b2b 50%);
	padding: 20px 40px;
	margin: 12px;
	display: inline-block;
	-webkit-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
	overflow: hidden;
	color: #d4f7f7;
	font-size: 20px;
	letter-spacing: 2.5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
			box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button7::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #85adad;
	opacity: 0;
	-webkit-transition: .2s opacity ease-in-out;
	transition: .2s opacity ease-in-out;
  }
  
  .animated-button7:hover::before {
	opacity: 0.2;
  }
  
  .animated-button7 span {
	position: absolute;
  }
  
  .animated-button7 span:nth-child(1) {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(8, 43, 43, 0)), to(#26d9d9));
	background: linear-gradient(to left, rgba(8, 43, 43, 0), #26d9d9);
	-webkit-animation: 2s animateTop linear infinite;
			animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
	0% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
  }
  
  .animated-button7 span:nth-child(2) {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 43, 43, 0)), to(#26d9d9));
	background: linear-gradient(to top, rgba(8, 43, 43, 0), #26d9d9);
	-webkit-animation: 2s animateRight linear -1s infinite;
			animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
	0% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
	100% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
  }
  
  .animated-button7 span:nth-child(3) {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(8, 43, 43, 0)), to(#26d9d9));
	background: linear-gradient(to right, rgba(8, 43, 43, 0), #26d9d9);
	-webkit-animation: 2s animateBottom linear infinite;
			animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
	0% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
	100% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
  }
  
  .animated-button7 span:nth-child(4) {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 43, 43, 0)), to(#26d9d9));
	background: linear-gradient(to bottom, rgba(8, 43, 43, 0), #26d9d9);
	-webkit-animation: 2s animateLeft linear -1s infinite;
			animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
	0% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
	100% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
  }
  
  .animated-button8 {
	background: linear-gradient(-30deg, #0b243d 50%, #081a2b 50%);
	padding: 20px 40px;
	margin: 12px;
	display: inline-block;
	-webkit-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
	overflow: hidden;
	color: #d4e6f7;
	font-size: 20px;
	letter-spacing: 2.5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
			box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button8::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #8599ad;
	opacity: 0;
	-webkit-transition: .2s opacity ease-in-out;
	transition: .2s opacity ease-in-out;
  }
  
  .animated-button8:hover::before {
	opacity: 0.2;
  }
  
  .animated-button8 span {
	position: absolute;
  }
  
  .animated-button8 span:nth-child(1) {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(8, 26, 43, 0)), to(#2680d9));
	background: linear-gradient(to left, rgba(8, 26, 43, 0), #2680d9);
	-webkit-animation: 2s animateTop linear infinite;
			animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
	0% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
  }
  
  .animated-button8 span:nth-child(2) {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 26, 43, 0)), to(#2680d9));
	background: linear-gradient(to top, rgba(8, 26, 43, 0), #2680d9);
	-webkit-animation: 2s animateRight linear -1s infinite;
			animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
	0% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
	100% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
  }
  
  .animated-button8 span:nth-child(3) {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(8, 26, 43, 0)), to(#2680d9));
	background: linear-gradient(to right, rgba(8, 26, 43, 0), #2680d9);
	-webkit-animation: 2s animateBottom linear infinite;
			animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
	0% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
	100% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
  }
  
  .animated-button8 span:nth-child(4) {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 26, 43, 0)), to(#2680d9));
	background: linear-gradient(to bottom, rgba(8, 26, 43, 0), #2680d9);
	-webkit-animation: 2s animateLeft linear -1s infinite;
			animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
	0% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
	100% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
  }
  
  .animated-button9 {
	background: linear-gradient(-30deg, #0b0b3d 50%, #08082b 50%);
	padding: 20px 40px;
	margin: 12px;
	display: inline-block;
	-webkit-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
	overflow: hidden;
	color: #d4d4f7;
	font-size: 20px;
	letter-spacing: 2.5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
			box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button9::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #8585ad;
	opacity: 0;
	-webkit-transition: .2s opacity ease-in-out;
	transition: .2s opacity ease-in-out;
  }
  
  .animated-button9:hover::before {
	opacity: 0.2;
  }
  
  .animated-button9 span {
	position: absolute;
  }
  
  .animated-button9 span:nth-child(1) {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(8, 8, 43, 0)), to(#2626d9));
	background: linear-gradient(to left, rgba(8, 8, 43, 0), #2626d9);
	-webkit-animation: 2s animateTop linear infinite;
			animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
	0% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
  }
  
  .animated-button9 span:nth-child(2) {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 8, 43, 0)), to(#2626d9));
	background: linear-gradient(to top, rgba(8, 8, 43, 0), #2626d9);
	-webkit-animation: 2s animateRight linear -1s infinite;
			animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
	0% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
	100% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
  }
  
  .animated-button9 span:nth-child(3) {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(8, 8, 43, 0)), to(#2626d9));
	background: linear-gradient(to right, rgba(8, 8, 43, 0), #2626d9);
	-webkit-animation: 2s animateBottom linear infinite;
			animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
	0% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
	100% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
  }
  
  .animated-button9 span:nth-child(4) {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 8, 43, 0)), to(#2626d9));
	background: linear-gradient(to bottom, rgba(8, 8, 43, 0), #2626d9);
	-webkit-animation: 2s animateLeft linear -1s infinite;
			animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
	0% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
	100% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
  }
  
  .animated-button10 {
	background: linear-gradient(-30deg, #240b3d 50%, #1a082b 50%);
	padding: 20px 40px;
	margin: 12px;
	display: inline-block;
	-webkit-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
	overflow: hidden;
	color: #e6d4f7;
	font-size: 20px;
	letter-spacing: 2.5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
			box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button10::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #9985ad;
	opacity: 0;
	-webkit-transition: .2s opacity ease-in-out;
	transition: .2s opacity ease-in-out;
  }
  
  .animated-button10:hover::before {
	opacity: 0.2;
  }
  
  .animated-button10 span {
	position: absolute;
  }
  
  .animated-button10 span:nth-child(1) {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(26, 8, 43, 0)), to(#8026d9));
	background: linear-gradient(to left, rgba(26, 8, 43, 0), #8026d9);
	-webkit-animation: 2s animateTop linear infinite;
			animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
	0% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
  }
  
  .animated-button10 span:nth-child(2) {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(26, 8, 43, 0)), to(#8026d9));
	background: linear-gradient(to top, rgba(26, 8, 43, 0), #8026d9);
	-webkit-animation: 2s animateRight linear -1s infinite;
			animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
	0% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
	100% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
  }
  
  .animated-button10 span:nth-child(3) {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(26, 8, 43, 0)), to(#8026d9));
	background: linear-gradient(to right, rgba(26, 8, 43, 0), #8026d9);
	-webkit-animation: 2s animateBottom linear infinite;
			animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
	0% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
	100% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
  }
  
  .animated-button10 span:nth-child(4) {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 8, 43, 0)), to(#8026d9));
	background: linear-gradient(to bottom, rgba(26, 8, 43, 0), #8026d9);
	-webkit-animation: 2s animateLeft linear -1s infinite;
			animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
	0% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
	100% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
  }
  
  .animated-button11 {
	background: linear-gradient(-30deg, #3d0b3d 50%, #2b082b 50%);
	padding: 20px 40px;
	margin: 12px;
	display: inline-block;
	-webkit-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
	overflow: hidden;
	color: #f7d4f7;
	font-size: 20px;
	letter-spacing: 2.5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
			box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button11::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #ad85ad;
	opacity: 0;
	-webkit-transition: .2s opacity ease-in-out;
	transition: .2s opacity ease-in-out;
  }
  
  .animated-button11:hover::before {
	opacity: 0.2;
  }
  
  .animated-button11 span {
	position: absolute;
  }
  
  .animated-button11 span:nth-child(1) {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 43, 0)), to(#d926d9));
	background: linear-gradient(to left, rgba(43, 8, 43, 0), #d926d9);
	-webkit-animation: 2s animateTop linear infinite;
			animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
	0% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
  }
  
  .animated-button11 span:nth-child(2) {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 43, 0)), to(#d926d9));
	background: linear-gradient(to top, rgba(43, 8, 43, 0), #d926d9);
	-webkit-animation: 2s animateRight linear -1s infinite;
			animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
	0% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
	100% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
  }
  
  .animated-button11 span:nth-child(3) {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 43, 0)), to(#d926d9));
	background: linear-gradient(to right, rgba(43, 8, 43, 0), #d926d9);
	-webkit-animation: 2s animateBottom linear infinite;
			animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
	0% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
	100% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
  }
  
  .animated-button11 span:nth-child(4) {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 43, 0)), to(#d926d9));
	background: linear-gradient(to bottom, rgba(43, 8, 43, 0), #d926d9);
	-webkit-animation: 2s animateLeft linear -1s infinite;
			animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
	0% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
	100% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
  }
  
  .animated-button12 {
	background: linear-gradient(-30deg, #3d0b24 50%, #2b081a 50%);
	padding: 20px 40px;
	margin: 12px;
	display: inline-block;
	-webkit-transform: translate(0%, 0%);
			transform: translate(0%, 0%);
	overflow: hidden;
	color: #f7d4e6;
	font-size: 20px;
	letter-spacing: 2.5px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
			box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  }
  
  .animated-button12::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #ad8599;
	opacity: 0;
	-webkit-transition: .2s opacity ease-in-out;
	transition: .2s opacity ease-in-out;
  }
  
  .animated-button12:hover::before {
	opacity: 0.2;
  }
  
  .animated-button12 span {
	position: absolute;
  }
  
  .animated-button12 span:nth-child(1) {
	top: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 26, 0)), to(#d92680));
	background: linear-gradient(to left, rgba(43, 8, 26, 0), #d92680);
	-webkit-animation: 2s animateTop linear infinite;
			animation: 2s animateTop linear infinite;
  }
  
  @keyframes animateTop {
	0% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
	100% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
  }
  
  .animated-button12 span:nth-child(2) {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 26, 0)), to(#d92680));
	background: linear-gradient(to top, rgba(43, 8, 26, 0), #d92680);
	-webkit-animation: 2s animateRight linear -1s infinite;
			animation: 2s animateRight linear -1s infinite;
  }
  
  @keyframes animateRight {
	0% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
	100% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
  }
  
  .animated-button12 span:nth-child(3) {
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 2px;
	background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 26, 0)), to(#d92680));
	background: linear-gradient(to right, rgba(43, 8, 26, 0), #d92680);
	-webkit-animation: 2s animateBottom linear infinite;
			animation: 2s animateBottom linear infinite;
  }
  
  @keyframes animateBottom {
	0% {
	  -webkit-transform: translateX(-100%);
			  transform: translateX(-100%);
	}
	100% {
	  -webkit-transform: translateX(100%);
			  transform: translateX(100%);
	}
  }
  
  .animated-button12 span:nth-child(4) {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 26, 0)), to(#d92680));
	background: linear-gradient(to bottom, rgba(43, 8, 26, 0), #d92680);
	-webkit-animation: 2s animateLeft linear -1s infinite;
			animation: 2s animateLeft linear -1s infinite;
  }
  
  @keyframes animateLeft {
	0% {
	  -webkit-transform: translateY(-100%);
			  transform: translateY(-100%);
	}
	100% {
	  -webkit-transform: translateY(100%);
			  transform: translateY(100%);
	}
  }