@import url('https://fonts.googleapis.com/css2?family=poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Poppins',sans-serif;
}

*::selection{
    background: #f00;
    color: #fff;
}
:root{
    --primary-color: #f14f4f;
    --secondary-color: #ffffff;
    /* Colors */
	--Grayish_blue: hsl(237, 18%, 59%);
	--Soft_red: hsl(345, 95%, 68%);
	--White: hsl(0, 0%, 100%);
	--Dark_desaturated_blue: hsl(236, 21%, 26%);
	--Very_dark_blue: hsl(235, 16%, 14%);
	--Very_dark_blac_blue: hsl(234, 17%, 12%);

	/* font size */
	--h-text: 1.1rem;
	--p-text: 1.8rem;
	--s-text: 0.5rem;

	/* custom-shape */
	--circle-width: 0.25em;
	--circle-height: 0.45em;
}

html{
    font-size: 62%;
    overflow-x: hidden ;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: url("images/cursor.png"),auto;
}
.home {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity:90%;
}
.content {
            padding: 0 9%;
            z-index: 1;
            color: #fff;
            position: relative;
            text-align: left;
        }

header{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 1000;
    height:fit-content;
    background-color: rgba(26, 26, 36, 0.671);
}
header .bitlogo{
    position: relative;
    width: 8rem;
    height: 8rem;
}
header .bitlogo1{
    position: relative;
    width: 8rem;
    height: 8rem;
}
header .navbar a{
    display:inline-block;
    justify-content:center;
    font-size: 1.7rem;
    margin-left: 3rem;
    color: var(--secondary-color);
    font-weight: 600;
}
header .navbar a:hover{
    color:  red;
}
header .bg-nav{
    display: none;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .content h3 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.4rem;
    padding-top: 5;
    color: #f1bc0d;
    line-height: 5.3rem;
}
.home .content p {
    font-size: 1.6rem;
    color: var(--secondary-color);
    padding: 1rem 0;
    align-items: center;
}
.home .image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200rem;
}
.home .image .lion{
    position: absolute;
    width: 50%;

}
.garuda{
    opacity:  0.8;
    margin-top: 15rem;
    position: absolute;
    width: 70%;
}
.toggle-btn{
    position: relative;
    font-size: 3rem;
    color: var(--secondary-color);
    cursor: pointer;
    display: none;
}


@media(max-width:992px){
    html{
        font-size: 60%;
    }
    section{
        padding: 0 5%;
    }
    header{
        padding:2rem 5%;
    }
    .home .content h3{
        font-size: 3.3rem;
        line-height: 2.5rem;
    }
}

@media(max-width:768px){
    html{
        font-size: 59%;
    }
    .toggle-btn{
        display: block;
    }
    header .navbar{
        position: absolute;
        left: 0;
        top: -300px;
        width: 100%;
        background:rgba(26, 26, 36, 0.884);
        padding: 1rem 5%;
        
        overflow: hidden;
        transform: .8s;
        z-index: -2;
    }
    header .navbar.slide{
        top: 100%;
    }
    header .navbar a{
        display: block;
        margin: 2rem 0;
        font-size: 1.8rem;
    }
    header .bitlogo1{
        position: absolute;
        right: 12%;   
    }
    header .bg-nav{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;height:fit-content;
        background-color: rgba(26, 26, 36, 0.671);
        z-index: -1;
        transition: 1s;
    }
    section{
        height:fit-content;
    }
    .home{
        flex-direction: column;
    }
    .garuda{
        margin-top: 8rem;
    }
    .home .image{
        width: 50rem;
        height: 20rem;
        margin-top: -5rem;
    }
}

@media(max-width:660px){
    html{
        font-size: 55%;
    }
    header .navbar.slide{
        top: 78px;
    }
}
@media(max-width:434px){
    .home .image{
        width: 40rem;
    }
}
@media(max-width:330px){
    html{
        font-size: 50%;
    }
    head .bitlogo1{
        right: 15%;
    }
    .home .image{
        width: 40rem;
        height:25rem;
    }
}
footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2d2e33;
    padding: 60px 10%;
}

.list{
    list-style: none;
}

.footer-col{
    width: 25%;
}

.footer-col h4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;
}

ul li:not(:last-child){
    margin-bottom: 8px;
}

ul li a{
    display: block;
    font-size: 19px;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}

ul li a:hover{
    color: white;
    padding-left: 2px;
}

.links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.links a:hover{
    color: #4d4f55;
    background-color: white;
}

@media(max-width: 740px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before{
        all: unset;
    }
}

@media(max-width: 555px){
    .footer-col{
        width: 100%;
    }
}

@import url('https://fonts.googleapis.com/css?family=Lato');

/* default */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.events{
  min-height: 70vh;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("https://media.istockphoto.com/id/1962096972/vector/glowing-glare-of-light-beautiful-flash-effect.jpg?s=612x612&w=0&k=20&c=1b4QtMnH_8KDBKIdaRKRCx_X6Go1WcV6uca4j2stJKw=");
  background-repeat:no-repeat;
  background-size:cover;
  font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
}


/* .flip-card-container */
.flip-card-container {
    --hue: 150;
    --primary: hsl(var(--hue), 50%, 50%);
    --white-1: hsl(0, 0%, 90%);
    --white-2: hsl(0, 0%, 80%);
    --dark: hsl(var(--hue), 25%, 10%);
    --grey: hsl(0, 0%, 50%);
  
    width: 310px;
    height: 500px;
    margin: 40px;
  
    perspective: 1000px;
  }
  
  /* .flip-card */
  .flip-card {
    width: inherit;
    height: 80%;
  
    position: relative;
    transform-style: preserve-3d;
    transition: .6s .1s;
  }
  
  /* hover and focus-within states */
  .flip-card-container:hover .flip-card,
  .flip-card-container:focus-within .flip-card {
    transform: rotateY(180deg);
  }
  
  /* .card-... */
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    border-radius: 24px;
  
    background: var(--dark);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  
    backface-visibility: hidden;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .card-front */
  .card-front {
    transform: rotateY(0deg);
    z-index: 2;
  }
  
  /* .card-back */
  .card-back {
    transform: rotateY(180deg);
    z-index: 1;
  }
  
  /* figure */
  figure {
    z-index: -1;
  }
  
  /* figure, .img-bg */
  figure,
  .img-bg {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  }
  
  /* img */
  .ime img {
    height: 100%;
    border-radius: 24px;
  }
  
  /* figcaption */
  figcaption {
    display: block;
  
    width: auto;
    margin-top: 12%;
    padding: 8px 22px;
  
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-align: right;
  
    position: absolute;
    top: 0;
    right: 12px;
  
    color: var(--white-1);
    background: rgba(151, 150, 150, 0.3);
  }
  
  /* .img-bg */
  .img-bg {
    background: hsla(var(--hue), 25%, 10%, .5);
  }
  
  .card-front .img-bg {
    clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
  }
  
  .card-front .img-bg::before {
    content: "";
  
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(18deg);
  
    width: 100%;
    height: 6px;
    border: 1px solid var(--primary);
    border-left-color: transparent;
    border-right-color: transparent;
  
    transition: .1s;
  }
  
  .card-back .img-bg {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
  }
  
  /* hover state */
  .flip-card-container:hover .card-front .img-bg::before {
    width: 6px;
    border-left-color: var(--primary);
    border-right-color: var(--primary);
  }
  
  /* ul */
 .flip-c {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    list-style: none;
    color: var(--white-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* li */
  .fli {
    width: 100%;
    margin-top: 12px;
    padding-bottom: 12px;
  
    font-size: 14px;
    text-align: center;
  
    position: relative;
  }
  
  li:nth-child(2n) {
    color: var(--white-2);
  }
  
  li:not(:last-child)::after {
    content: "";
  
    position: absolute;
    bottom: 0;
    left: 0;
  
    width: 100%;
    height: 1px;
  
    background: currentColor;
    opacity: .2;
  }
  
  /* button */
  button {
    font-family: inherit;
    font-weight: bold;
    color: var(--white-1);
  
    letter-spacing: 2px;
  
    padding: 9px 20px;
    border: 1px solid var(--grey);
    border-radius: 1000px;
    background: transparent;
    transition: .3s;
  
    cursor: pointer;
  }
  
  button:hover,
  button:focus {
    color: var(--primary);
    background: hsla(var(--hue), 25%, 10%, .2);
    border-color: currentColor;
  }
  
  button:active {
    transform: translate(2px);
  }
  
  /* .design-container */
  .design-container {
    --tr: 90;
    --op: .5;
  
    width: 100%;
    height: 100%;
  
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
  
    pointer-events: none;
  }
  
  /* .design */
  .design {
    display: block;
  
    background: var(--grey);
    position: absolute;
  
    opacity: var(--op);
    transition: .3s;
  }
  
  .design--1,
  .design--2,
  .design--3,
  .design--4 {
    width: 1px;
    height: 100%;
  }
  
  .design--1,
  .design--2 {
    top: 0;
    transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
  }
  
  .design--1 {
    left: 20%;
  }
  
  .design--2 {
    left: 80%;
  }
  
  .design--3,
  .design--4 {
    bottom: 0;
    transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
  }
  
  .design--3 {
    left: 24%;
  }
  
  .design--4 {
    left: 76%;
  }
  
  .design--5,
  .design--6,
  .design--7,
  .design--8 {
    width: 100%;
    height: 1px;
  }
  
  .design--5,
  .design--6 {
    left: 0;
    transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
  }
  
  .design--5 {
    top: 41%;
  }
  
  .design--6 {
    top: 59%;
  }
  
  .design--7,
  .design--8 {
    right: 0;
    transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
  }
  
  .design--7 {
    top: 44%;
  }
  
  .design--8 {
    top: 56%;
  }
  
  /* states */
  button:hover+.design-container,
  button:active+.design-container,
  button:focus+.design-container {
    --tr: 20;
    --op: .7;
  }
  
  .abs-site-link {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: hsla(0, 0%, 100%, .6);
    font-size: 16px;
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
  }
  .map{
    background-image: url("https://media.istockphoto.com/id/675020930/photo/textured-dark-vignette-black-background.jpg?s=612x612&w=0&k=20&c=g-IuzR5TYGpmJlhGmySX1_oA15Pay7wBLxBQ2NkPzGs=");
    background-repeat:no-repeat;
    background-size:cover;
  }
  .hi h1{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 20px;
    color:white;
  }
/*timer css*/
/* Font Styles */
.heading-a {
	font-size:2rem;
	color: var(--White);
	letter-spacing: 0.5ch;
	text-align: center;
	margin-bottom: 3rem;
}
.primary {
	font-size: var(--p-text);
	color: var(--Soft_red);
	text-align: center;
}
.sub-heading {
	font-size: 1.2rem;
	color: var(--Grayish_blue);
	text-align: center;
	letter-spacing: 0.5ch;
	margin-top: 1em;
}
.container {
	margin: 1em;
}
.center {
	align-self: center;
}
.countdown-timer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
}

.timer-box {
	width: 4rem;
	padding: 0.5rem;
	text-align: center;
	background-color: var(--Dark_desaturated_blue);
	position: relative;
	border-radius: 0.25em;
}

.sheet {
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	top: 0;
	right: 0;
	background-color: var(--Very_dark_blue);
	opacity: 0.35;
}

.flip {
	transition: transform 1s;
	transform: translate(0%, 100%) scaleY(-1);
}

.circle-left {
	width: var(--circle-width);
	height: var(--circle-height);
	position: absolute;
	background-color: var(--Very_dark_blac_blue);
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;
	top: 45%;
	left: 0;
}

.circle-right {
	width: var(--circle-width);
	height: var(--circle-height);
	position: absolute;
	background-color: var(--Very_dark_blac_blue);
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
	top: 45%;
	right: 0;
}

/* Media Queries for Responsive Design */
@media (min-width: 430px) {
	:root {
		--h-text: 1.25rem;
		--p-text: 2rem;
		--s-text: 0.5rem;

		--circle-width: 0.35em;
		--circle-height: 0.65em;
	}

	.timer-box {
		width: 5rem;
		padding: 0.75rem;
	}
}

@media (min-width: 550px) {
	:root {
		--p-text: 3rem;
		--s-text: 0.75rem;

		--circle-width: 0.4em;
		--circle-height: 0.7em;
	}

	.timer-box {
		width: 6rem;
		padding: 0.75rem;
	}
}

@media (min-width: 800px) {
	:root {
		--p-text: 4rem;
	}

	.timer-box {
		width: 8rem;
		padding: 1rem;
	}
}



